services:
  pangolin-setup:
    build: .
    container_name: pangolin_installer
    restart: always
    # Map the ports you need for the final app
    ports:
      - "8443:443"
      - "51821:51820/udp"
    volumes:
      - ./config:/app/config
