version: '3.8'
services:
  pangolin:
    image: docker.io/fosrl/pangolin:ee-1.15.2
    container_name: pangolin-app
    restart: always
    environment:
      - PANGOLIN_DOMAIN=pg.oxooz.com:8443
    volumes:
      # USE THE FULL PATH TO YOUR GITHUB FOLDER ON THE SERVER
      - /var/lib/dokploy/applications/pangolin/config:/app/config
    # DO NOT PUT PORTS HERE - DOKPLOY UI OVERRIDES THIS
