version: '3.8'
services:
  pangolin:
    build: .
    container_name: pangolin-app
    restart: always
    environment:
      - PANGOLIN_DOMAIN=pg.oxooz.com:8443
    volumes:
      - ./config:/app/config
    ports:
      - "8443:443"
    depends_on:
      - gerbil

  gerbil:
    image: docker.io/fosrl/gerbil:1.3.0
    container_name: gerbil
    restart: always
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    volumes:
      - ./config:/var/config
    ports:
      - "51821:51820/udp"
      - "21820:21820/udp"

volumes:
  pangolin_config:
