services:
  pangolin:
    image: docker.io/fosrl/pangolin:ee-1.15.2
    container_name: pangolin
    restart: unless-stopped
    volumes:
      - ./config:/app/config

  gerbil:
    image: docker.io/fosrl/gerbil:1.3.0
    container_name: gerbil
    restart: unless-stopped
    depends_on:
      - pangolin
    command:
      - --reachableAt=http://gerbil:3004
      - --generateAndSaveKeyTo=/var/config/key
      - --remoteConfig=http://pangolin:3001/api/v1/
    volumes:
      - ./config/:/var/config
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - 51820:51820/udp
      - 21820:21820/udp
      # NO 80 or 443 listed here at all!