version: '3.8'
services:
  pangolin:
    image: docker.io/fosrl/pangolin:ee-1.15.2
    container_name: pangolin
    restart: unless-stopped
    environment:
      # Tell the app its public address is on port 8443
      - PANGOLIN_DOMAIN=pg.oxooz.com:8443
    volumes:
      - ./config:/app/config
    # Connect to Gerbil's network so they can talk internally
    network_mode: "service:gerbil"

  gerbil:
    image: docker.io/fosrl/gerbil:1.3.0
    container_name: gerbil
    restart: unless-stopped
    command:
      - --reachableAt=http://gerbil:3004
      - --generateAndSaveKeyTo=/var/config/key
      - --remoteConfig=http://pangolin:3001/api/v1/
    volumes:
      - ./config/:/var/config
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - "8443:443"      # Published: 8443, Target: 443
      - "8080:80"      # Published: 8080, Target: 80 (For Let's Encrypt)
      - "51821:51820/udp" # Use 51821 to avoid Dokploy conflict
      - "21820:21820/udp"

  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: unless-stopped
    network_mode: "service:gerbil"
    volumes:
      - ./config/traefik:/etc/traefik:ro
      - ./config/letsencrypt:/letsencrypt
